{% extends 'base.html' %}

{% block title %}Доступ{% endblock %}
{% block content %}
{% if access %}
<div class="col d-flex justify-content-center">
  <div class="card text-white text-center bg-success mb-3" style="max-width: 36rem;">
    <div class="card-header">{{ name }}</div>
      <div class="card-body">
        <h1 class="card-title">ДОСТУП РАЗРЕШЕН</h1>
      </div>
  </div>
</div>
{% else %}
<div class="col d-flex justify-content-center">
  <div class="card text-white text-center bg-danger mb-3" style="max-width: 36rem;">
    <div class="card-header">{{ name }}</div>
      <div class="card-body">
        <h1 class="card-title">ДОСТУП ЗАПРЕЩЕН</h1>
      </div>
  </div>
</div>
{% endif %}
{% endblock %}
