{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>

    <body>
        <header>
            {% include 'includes/header.html' %}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer class="border-top text-center py-3">
            {% include 'includes/footer.html' %}
        </footer>
    </body>
</html>