{% extends 'base.html' %}

{% block title %}Панель управления{% endblock %}
{% block content %}
<div class="card text-bg-dark mb-3">
  <div class="card-header">
  <form method="post" action="
      {% if is_edit %}
        {% url 'passes:edit' id_user %}
      {% else %}
        {% url 'passes:create' %}
      {% endif %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">
      {% if is_edit %}
        Сохранить
      {% else %}
        Создать
      {% endif %}
    </button>
  </form>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Ник</th>
      <th scope="col">Полное имя</th>
      <th scope="col">Фото</th>
      <th scope="col">Доступ</th>
      <th scope="col">Получить QR</th>
      <th scope="col">Редактировать</th>
      <th scope="col">Удалить</th>
    </tr>
  </thead>
  <tbody>
  {% for v in var %}
    <tr>
      <td>{{ v.username }}</td>
      <td>{{ v.real_name }}</td>
      <td>
          {% if v.photo %}
            <a href="{% url 'passes:view_photo' v.pk %}" type="button" class="btn btn-light">Показать</a>
          {% else %}
            <a href="{% url 'passes:add_photo' v.pk %}" type="button" class="btn btn-secondary">Загрузить</a>
          {% endif %}
      </td>
      <td>
          {% if v.access == True %}
            <span style="color:green;">ДОСТУП РАЗРЕШЕН</span>
          {% else %}
            <span style="color:red;">ДОСТУП ЗАПРЕЩЕН</span>
          {% endif %}
      </td>
      <td>
          <a href="{% url 'passes:get_qr' v.pk %}" type="button" class="btn btn-info">QR</a>
      </td>
      <td>
          <a href="{% url 'passes:edit' v.pk %}" type="button" class="btn btn-primary">Редактировать</a>
      </td>
      <td>
          <a href="{% url 'passes:delete' v.pk %}"  type="button" class="btn btn-danger">Удалить</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
